<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduTrack">

        <activity android:name=".activities.SplashActivity" 
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RoleSelectionActivity" />
        <activity android:name=".activities.LoginActivity" />

        <!-- Admin Activities -->
        <activity android:name=".activities.admin.AdminDashboardActivity" />
        <activity android:name=".activities.admin.ManageStudentsActivity" />
        <activity android:name=".activities.admin.AddEditStudentActivity" />
        <activity android:name=".activities.admin.BulkUploadActivity" />
        <activity android:name=".activities.admin.ManageTeachersActivity" />
        <activity android:name=".activities.admin.AddEditTeacherActivity" />
        <activity android:name=".activities.admin.AssignClassActivity" />
        <activity android:name=".activities.admin.ManageClassesActivity" />
        <activity android:name=".activities.admin.AddEditClassActivity" />
        <activity android:name=".activities.admin.PromoteClassActivity" />
        <activity android:name=".activities.admin.CreateAnnouncementActivity" />
        <activity android:name=".activities.admin.DetailedStudentReportActivity" />
        <activity android:name=".activities.admin.AdminReportsActivity" />
        <activity android:name=".activities.admin.ReportFiltersActivity" />
        <activity android:name=".activities.AnnouncementsFeedActivity" />

        <!-- Teacher Activities -->
        <activity android:name=".activities.teacher.TeacherDashboardActivity" />
        <activity android:name=".activities.teacher.TakeAttendanceActivity" />
        <activity android:name=".activities.teacher.AttendanceHistoryActivity" />
        <activity android:name=".activities.teacher.TeacherReportsActivity" />

        <!-- Parent Activities -->
        <activity android:name=".activities.parent.ParentDashboardActivity" />
        <activity android:name=".activities.parent.ChildAttendanceDetailActivity" />

        <!-- Student Activities -->
        <activity android:name=".activities.StudentAttendanceActivity" />

    </application>

</manifest>